@media (max-width: 1024px) {
    .center {
      padding-left: calc(50% - 393px);
      padding-right: calc(50% - 393px);
    }

    .top {
      background-size: 834px 735px;
    }

    .for {
        gap: 30px;
      &__item {
        height: 268px;
      }
    }
  .cart {
    display: flex;
    flex-wrap: wrap;
    &__content {
        width: 786px;
    }
    &__form {
      margin-top: 64px;
      width: 376px;
    }
  }
    .product__content {
      column-gap: 29px;
      row-gap: 39px;
    }
  
    .footer__logo {
      display: none;
    }
  }
  @media (min-width: 768px) and (max-width: 833px) {
    .center {
      padding-left: 24px;
      padding-right: 24px;
    }
  
    .product__box {
      width: 345px;
    }
  }
  